@import "tailwindcss";

@theme {
  --color-primary: #129990;
  --color-gray: #f3f2f2;
}

.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexCol{
  display: flex;
  flex-direction: column;
}


.no-scrollbar {
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
/* Hide scrollbar for IE, Edge and Firefox */
